

/* Estilos para el encabezado */
header {
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%; /* El encabezado ocupa todo el ancho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Sección principal */
#main {
    flex-grow: 1; /* Permite que la sección principal crezca y ocupe el espacio disponible */
    padding: 20px;
}

/* Sidebar */
#sidebar {
    width: 250px; /* Ancho fijo para la barra lateral */
    position: fixed; /* Fija la sidebar a la pantalla */
    top: 0; /* La sidebar comienza desde la parte superior */
    right: 0; /* Alineada a la derecha */
    height: 100%; /* Altura completa de la pantalla */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es mayor que la pantalla */
    background-color: #f1f1f1; /* Fondo claro para la sidebar */
    padding: 20px; /* Espaciado interno */
    border-left: 1px solid #ccc; /* Línea de separación */
}

/* Estilo para el footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%; /* El pie ocupa todo el ancho */
}

/* Estilo para los elementos del menú */
.menu {
    list-style-type: none; /* Sin puntos en la lista */
    padding: 0;
}

.menu-item {
    margin: 0;
    padding: 10px 0;
}

.menu-item a {
    text-decoration: none; /* Sin subrayado */
    color: #007bff; /* Color azul para los enlaces */
}

.menu-item a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/* Estilos para imágenes */
img {
    max-width: 100rem; /* Las imágenes no exceden el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
